html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

/* Common Items */
.yellowhr {
  width: 80%;
  border-width: 3px;
  border-color: #f7d806;
}

.bluehr {
  width: 80%;
  border-width: 3px;
  border-color: #315c91;
}

/* ======================================================================================================================================== */

/* First Page */

/* NavBar */
.navbar {
  background-color: #113f77;
}

#firstPage {
  height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
  /* background:url("Pictures/first.jpg") center center /cover; */
  /* animation: animate 16s linear infinite; */

  /* background:center center /cover;  */
}

/* @keyframes animate{
    0%,100%{
        background-image:url("Pictures/first.jpg");
    }
    30%{
        background-image:url("Pictures/second.jpg");
    }
    70%{
        background-image:url("Pictures/third.jpg");
    }
} */

#firstPage li .nav-link,
.navbar-brand {
  color: white;
  margin-right: 30px;
}

#firstPage .navbar-brand:hover {
  color: white;
}

#firstPage h1 {
  padding-bottom: 15%;

  font-size: 4vw;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#firstPage .flex-column {
  height: 100%;
}

/* ======================================================================================================================================== */

/* About Us */
#aboutUs {
  padding-top: 2%;
  text-align: center;
  line-height: 40px;
  background-color: #315c91;
  color: white;
}
#aboutUs p {
  padding-top: 2%;
  padding-bottom: 5%;
  margin-bottom: 0;
}

/* ======================================================================================================================================== */

/* Resources */
#resources {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
}
#resources h1 {
  padding-top: 5%;
}
.flip-card-container {
  width: 250px;
  height: 350px;
  perspective: 1000px;
  margin: 40px;
}
.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-card-container:hover .flip-card {
  transform: rotateY(180deg); /* <=>  rotateY(.5turn) */
}
/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card-front {
  background-color: #f7d806;
  font-size: 1.5rem;
  color: black;
  text-align: center;

  border: 5px solid #113f77;
  border-radius: 20px;
}
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  border: 5px solid #113f77;
  border-radius: 20px;
  text-align: center;
}
.flip-card-back p {
  text-align: center;
  margin: 1rem;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.5rem;
}
.flip-card-back p span {
  display: block;
  font-size: 1rem;
  margin-top: 1.25rem;
  font-style: normal;
  font-weight: normal;
}
.flip-card-back p span img {
  width: 40px;
  height: 40px;
}
/* ======================================================================================================================================== */

/* E-Board Members */
#members {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background-color: #315c91;
  color: white;
}

#members h1 {
  padding-top: 2%;
}

#members .container {
  margin: 10% auto;
}

#members .d-flex {
  height: 100%;
}

.nameAndPosition {
  padding-bottom: 10%;
  padding-top: 5%;
  opacity: 0;
  transition: 0.3s ease-in-out;
  color: white;
  background-color: #2f2d2d;
}

.amanPic {
  border-radius: 50%;
  border: 5px solid #113f77;
  box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  background: url("../Pictures/E-board/Aman.png") center center / cover;
  /* background: white; */
  overflow: hidden;
}

.emilyPic {
  border-radius: 50%;
  border: 5px solid #113f77;
  box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  background: url("../Pictures/E-board/Emily.jpg") center center / cover;
  /* background: white; */
  overflow: hidden;
}

.jerryPic {
  border-radius: 50%;
  border: 5px solid #113f77;
  box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  background: url("../Pictures/E-board/Jerry.png") center center / cover;
  /* background: white; */
  overflow: hidden;
}

.ashleyPic {
  border-radius: 50%;
  border: 5px solid #113f77;
  box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  background: url("../Pictures/E-board/Ashley.jpeg") center center / cover;
  /* background: white; */
  overflow: hidden;
}

.phuongAnhPic {
  border-radius: 50%;
  border: 5px solid #113f77;
  box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  background: url("../Pictures/E-board/PhuongAnh.jpg") center center / cover;
  /* background: white; */
  overflow: hidden;
}

.tashPic {
  border-radius: 50%;
  border: 5px solid #113f77;
  box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  background: url("../Pictures/E-board/Tash.jpg") center center / cover;
  /* background: white; */
  overflow: hidden;
}

.picHere {
  border-radius: 50%;
  border: 5px solid #113f77;
  box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.5);
  width: 250px;
  height: 250px;
  /* background: url("Pictures/Aman.png") center center /cover; */
  background: white;
  overflow: hidden;
}

#members .container:hover .nameAndPosition {
  opacity: 1;
}

/* ======================================================================================================================================== */

#contact {
  min-height: 60vh;
  width: 100%;
  text-align: center;
  background-color: #2f2d2d;
  color: white;
}

#contact h1 {
  padding-top: 2%;
}

/* ======================================================================================================================================== */
/* ======================================================================================================================================== */
/* ======================================================================================================================================== */
/* ======================================================================================================================================== */
/* ======================================================================================================================================== */

/* Intership Page */

.headerTitle {
  text-align: center;
  padding-top: 3%;
}

.explanation {
  margin-top: 3%;
}

.informationSection {
  border: 3px solid #f7d806;
  border-radius: 10px;
  margin: 3%;
  min-height: 15rem;
  padding: 2rem;
  float: left;
  box-shadow: -15px 15px 5px rgba(0, 0, 0, 0.5);
}

.subTitle {
  font-weight: bold;
}

.informationSection img {
  height: 15rem;
  max-width: 15rem;
}

/* Academics Page */

.coreRequirement {
  border: 3px solid #113f77;
  border-radius: 10px;
  padding: 2rem;
  display: block;
}

ul {
  display: inline-block;
}
